body {
    background-image: url(../images/index_bg_1.gif);
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(11, 160, 247);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 20px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

#id_homepage {
    display: flex;
    flex-direction: row;
    margin: 0% 10%;
    border-bottom: 1px solid white;
}

#id_homepage a {
    text-decoration: none;
    color: white;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: auto;
    background-color: #9AA5B1;
    margin: 3% 10%;
}

#login-box-top {
    background-image: url("https://arweb.sdsu.edu/es/webportal/images/bg_header.png");
    height: 71px;
    width: 100%;
}

#id {
    display: flex;
    flex-direction: column;
}

#login-reg-left {
    margin-top: 3%;
    display: flex;
    justify-content: left;
    width: 100%;
}

#login-reg-left #leftbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(176, 173, 173);
    border-radius: 40px;
    height: 150px;
    width: 800px;
}

#login-reg-box {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#login-reg-box #innerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(176, 173, 173);
    border-radius: 40px;
    height: 150px;
    width: 800px;
    
}

li {
    list-style: none;
}