body {
    background-image: url(../images/index_bg_1.gif);
}

#id_homepage {
    display: flex;
    flex-direction: row;
    margin: 0% 10%;
    border-bottom: 1px solid white;
}

#id_homepage a {
    text-decoration: none;
    color: white;
}

#login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: auto;
    background-color: #9AA5B1;
    margin: 3% 10%;
}

#login-box-top {
    background-image: url("https://arweb.sdsu.edu/es/webportal/images/bg_header.png");
    height: 71px;
    width: 100%;
}

#id {
    display: flex;
    flex-direction: column;
}

#login-reg-box {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    width: 100%;
}

#login-reg-box #innerbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(176, 173, 173);
    border-radius: 25px;
    height: 150px;
    width: 350px;
    
}

li {
    list-style: none;
}
